{% extends 'base_account.html' %}

{% block container_account %}
<script>
    $('#nav_account_account').addClass('active');
</script>


<h1>{{ _('Your Account') }}</h1>
<form class="form-inline" role="form" method="POST" action="{{ url_for('account_update') }}">
    <div class="row form-group">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>{{ _('Complete Name') }}</dt>
                <dd>{{ partner.name }}</dd>
                <br />
                <dt>{{ _('Email') }}</dt>
                <dd>{{ partner.email }}</dd>
                <dt>{{ _('Phone') }}</dt>
                <dd>
                    <input type="text" class="form-control account_data" 
                        id="account_phone"
                        name="new_phone" value="{{ partner.phone|empty_if_null }}">
                </dd>
                <dt>{{ _('Cell Phone') }}</dt>
                <dd>
                    <input type="text" class="form-control account_data" 
                        id="account_mobile"
                        name="new_mobile" value="{{ partner.mobile|empty_if_null }}">
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>{{ _('Street') }}</dt>
                <dd>
                    <input type="text" class="form-control account_data" 
                        id="account_street"
                        name="new_street" value="{{ partner.street|empty_if_null }}">
                </dd>
                <dt>{{ _('Complement Street') }}</dt>
                <dd>
                    <input type="text" class="form-control account_data" 
                        id="account_street2"
                        name="new_street2" value="{{ partner.street2|empty_if_null }}">
                </dd>
                <dt>{{ _('ZIP') }}</dt>
                <dd>
                    <input type="text" class="form-control account_data" 
                        id="account_zip"
                        name="new_zip" value="{{ partner.zip|empty_if_null }}">
                </dd>
                <dt>{{ _('City') }}</dt>
                <dd>
                    <input type="text" class="form-control account_data" 
                        id="account_city"
                        name="new_city" value="{{ partner.city|empty_if_null }}">
                </dd>
            </dl>
            <button type="submit" class="btn btn-default update_btn">{{ _('Update')}}</button>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</form>

<!-- JQuery -->
<script>
    $('.update_btn').hide();
    $('.update_btn').attr('disabled', 'disabled');

    $('.account_data').change(function(e){
        self = this;
        var new_phone = $('#account_phone').val();
        var new_mobile = $('#account_mobile').val();
        $.ajax({
            url: "{{ url_for('account_update') }}",
            type: "POST",
            data: {
                new_phone: new_phone,
                new_mobile: new_mobile,
                }, timeout: 1000,
        }).done(function(msg){
            if (msg.result.state == 'success' || msg.result.state == 'warning'){
                $('#account_phone').val(msg.result.phone);
                $('#account_mobile').val(msg.result.mobile);
            }
//            if (msg.result.state != 'success') {
            $('.flashes').replaceWith("<div class='flashes'><p class='text-center bg-" + msg.result.state + "'>" + msg.result.message  + "</p></div>");
//            }
//            else {
//                $('.flashes').replaceWith("<div class='flashes' />");
//            }
        }).fail(function(xhr, textstatus){
            $('.flashes').replaceWith("<div class='flashes'><p class='text-center bg-danger'> {{ _('Something wrong occured, please refresh the page.')}}</p></div>");
        });


    });
</script>

{% endblock %}
