{% extends 'base.html' %}

{% block container %}
<!-- JQuery -->
<script>
    $('#nav_account').addClass('active');
</script>

<!-- Account Data -->
<h1>{{ _('Your Account') }}</h1>

<form class="form-horizontal" role="form" method="POST" action="{{ url_for('account_update') }}">
    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
                <th>
                    <label for="account_name" class="control-label">{{ _('Complete Name') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" name="account_name" value="{{ partner.name }}" readonly>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_email" class="control-label">{{ _('Email') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" name="account_email" value="{{ partner.email|empty_if_null }}" readonly>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_phone" class="control-label">{{ _('Phone') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" id="account_phone" name="account_phone" value="{{ partner.phone|empty_if_null }}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_mobile" class="control-label">{{ _('Cell Phone') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" id="account_mobile" name="account_mobile" value="{{ partner.mobile|empty_if_null }}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_street" class="control-label">{{ _('Street') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" id="account_street" name="account_street" value="{{ partner.street|empty_if_null }}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_street2" class="control-label">{{ _('Complement Street') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" id="account_street2" name="account_street2" value="{{ partner.street2|empty_if_null }}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_zip" class="control-label">{{ _('ZIP') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" id="account_zip" name="account_zip" value="{{ partner.zip|empty_if_null }}">
                </td>
            </tr>

            <tr>
                <th>
                    <label for="account_city" class="control-label">{{ _('City') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" id="account_city" name="account_city" value="{{ partner.city|empty_if_null }}">
                </td>
            </tr>

            <tr>
                <th colspan="2">
                    <button type="submit" class="btn btn-default update_btn">{{ _('Update')}}</button>
                </th>
            </tr>
        </tbody>
    </table>
</form>

<!-- JQuery -->

<script src="{{ url_for('static', filename='js/update_btn_hide.js') }}"></script>
<script src="{{ url_for('static', filename='js/account_update.js') }}"></script>

{% endblock %}
