<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ _('eShop')}}{% block extra_title %}{% endblock %}</title>


    <!-- from : http://code.jquery.com/jquery-2.1.4.min.js -->
        <script src="{{ url_for('lib', filename='js/jquery-2.1.4.min.js') }}"></script>

    <!-- from : https://github.com/twbs/bootstrap/releases/download/v3.3.5/bootstrap-3.3.5-dist.zip -->
        <script src="{{ url_for('lib', filename='js/bootstrap.min.js') }}"></script>
        <link href="{{ url_for('lib', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    {% block extra_css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>
    <body>
        <div class="container">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

                <div class="container-fluid">
                    <div class="nav navbar-left" style="margin-right:10px">
                        <a class="btn btn-default" id="nav_home" href="{{  url_for('home') }}">
                            <span class="glyphicon glyphicon-home"/>
                        </a>
                    </div>

        {% if 'partner_name' in session %}
                    <div class="nav navbar-left">
                        <a class="btn btn-default" id="nav_catalog_inline" href="{{  url_for('catalog_inline') }}">
                            <span class="glyphicon glyphicon-th-list"/> {{ _('Purchase (List View)') }}</a>
                        <a class="btn btn-default" id="nav_catalog_tree" href="{{  url_for('catalog_tree') }}">
                            <span class="glyphicon glyphicon-th"/> {{ _('Purchase (Catalog View)') }}</a>
            {% if sale_order %}
                        <a class="btn btn-default" id="nav_shopping_cart" href="{{  url_for('shopping_cart') }}">
                            <span class="glyphicon glyphicon-shopping-cart"/> {{ _('Shopping Cart: ') }}
                            {% if session['eshop_vat_included'] %}
                            <span id="nav_amount_total">{{ sale_order.amount_total|to_currency }}</span>
                             {{_('VAT. Incl.')}}
                                {% if sale_order.amount_total >= session['eshop_minimum_price']%}
                            <span class="glyphicon glyphicon glyphicon-ok-circle"/> - 
                            <span class="glyphicon glyphicon-warning-sign" style="display:none"/>
                                {% else %}
                            <span class="glyphicon glyphicon-warning-sign"/> - 
                            <span class="glyphicon glyphicon-ok-circle" style="display:none"/>
                                {% endif %}
                            {% else %}
                            <span id="nav_amount_total">{{ sale_order.amount_untaxed|to_currency }}</span>
                             {{_('VAT. Excl.')}}
                                {% if sale_order.amount_untaxed >= session['eshop_minimum_price']%}
                            <span class="glyphicon glyphicon-ok-circle" id="nav_shopping_cart_ok" ></span>
                            <span class="glyphicon glyphicon-warning-sign" id="nav_shopping_cart_warning" style="display:none"></span>
                                {% else %}
                            <span class="glyphicon glyphicon-ok-circle" id="nav_shopping_cart_ok" style="display:none"></span>
                            <span class="glyphicon glyphicon-warning-sign" id="nav_shopping_cart_warning"></span>

                                {% endif %}
                            {% endif %}

                        </a>
            {% else %}
                        <a class="btn btn-default" id="nav_shopping_cart" style="visibility:hidden" href="{{  url_for('shopping_cart') }}">
                            <span class="glyphicon glyphicon-shopping-cart"/> {{ _('Shopping Cart: ') }}
                            <span id="nav_amount_total">{{ 0|to_currency }}</span>
                            <span class="glyphicon glyphicon-warning-sign" id="nav_shopping_cart_warning"/>
                            <span class="glyphicon glyphicon glyphicon-ok-circle" id="nav_shopping_cart_ok" style="display:none"/>
                        </a>
            {% endif %}
                    </div>

                    <div class="nav navbar-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="nav_account">
                                {{ _('Your Account') }}
                                <span class="caret" />
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="btn" href="{{ url_for('account')}}">
                                {{ _('Personnal Datas') }}
                                </a></li>
                            <li><a class="btn" href="{{ url_for('orders')}}">
                                {{ _('Orders History') }}
                                </a></li>
                            <li><a class="btn" href="{{ url_for('invoices')}}">
                                {{ _('Invoices History') }}
                                </a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a class="btn" href="{{ url_for('logout_view') }}">
                                    <span class="glyphicon glyphicon-log-out"/> - {{ _('Log Out') }}
                                </a></li>
                          </ul>
                        </div>

            {% else %}
                    <div class="nav navbar-right">
                        <a class="btn btn-default" href="{{ url_for('login_view') }}">
                            <span class="glyphicon glyphicon-log-in"/> - {{ _('Log In') }}
                        </a>
        {% endif %}
                    </div>
                </div>
            </nav>
    <div style="margin-top:70px;">
    {% block breadcrumb_all %}
        {% block breadcrumb %}
        {% endblock %}
    {% endblock %}
          <div class="flashes">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <p class="text-center bg-{{ category }}">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
          </div>
      {% block container %}{% endblock %}
        </div>
    </div>

    {% block extra_js %}{% endblock %}


    </body>
</html>
