{% extends 'base.html' %}

{% block breadcrumb %}
{% endblock %}

{% block container %}
<script>
    $('#nav_account').addClass('active');
</script>

<ul class="nav nav-pills">
    <li>
        <a class="btn btn-sm btn-default" id="nav_account_account" href="{{ url_for('account')}}">{{ _('Personnal Datas') }}</a>
    </li>
{% if orders_qty != 0 %}
    <li>
        <a class="btn btn-sm btn-default" id="nav_account_orders" href="{{ url_for('orders')}}">{{ _('Orders History') }} ({{ orders_qty}})</a>
    </li>
{% endif %}
{% if invoices_qty != 0 %}
    <li>
        <a class="btn btn-sm btn-default" id="nav_account_invoices" href="{{ url_for('invoices')}}">{{ _('Invoices History') }} ({{ invoices_qty}})</a>
    </li>
{% endif %}
</ul>

      {% block container_account %}{% endblock %}

{% endblock %}
