{% extends 'base.html' %}


{% block container %}
<!-- JQuery -->
<script>
    $('#nav_catalog_inline').addClass('active');
</script>

<style type="text/css">
    .quantity{
        width:150px !important;
        text-align:right;
    }
    .not_null_qty{
        background-color:#DDFFFF;
        font-weight:bold;
    }
    .input_text{
        padding:0px !important;
    }
    .img-eshop-categ{
        height:50px;width:50px;
        display:inline;
    }
    th{
        background-color:#FCFCFC;
    }
    .quantity-unit{
        font-size:small;
    }
    .img-categ{
        margin: 0px;
        padding: 0px;
        width:75px;
        height:75px;
    }
    .img-label, .img-delivery-categ{
        margin: 0px;
        padding: 0px;
        border: 0px;
        height: 23px;
        display: inline;
    }
    h2{
        margin:0px;
    }
</style>


<table class="table table-condensed table-bordered">
<!-- Categories -->
    {% for category in catalog_inline %}

    <tr>
        <th colspan="6" style="text-align:center;">
            <h2>
        {% if category['image_medium'] %}
            <img class="thumbnail img-responsive img-eshop-categ" src="data:image/png;base64,{{ category['image_medium'] }}"/>
        {% else %}
            <img class="thumbnail img-responsive img-eshop-categ" src="{{ url_for('static', filename='images/category_without_image.png') }}"/>
        {% endif %}
                {{ category['name'] }}
            </h2>
        </th>
    </tr>

        {% for product in category['product_ids'] %}
    <tr>
        <td>
            <a href="{{url_for('product', product_id=product.id)}}">{{ product['name'] }}</a>
        </td>
        <td class="labels">
            {% for label in product['label_ids'] %}
                <img class="img-label" src="data:image/png;base64,{{ label['image_small'] }}" title="{{label['name']}}"/>
            {% endfor %}
        </td>
        <td>
                {{ product['list_price']|to_currency }} / {{ product['uom_eshop_description'] }}
        </td>
        <td>
                {{ product['eshop_taxes_description'] }}
        </td>
        <td>
            {% if product['delivery_categ_id'] %}
            <img class="img-delivery-categ" src="data:image/png;base64,{{ product['delivery_categ_id']['image_small'] }}" title="{{ product['delivery_categ_id']['name'] }}"/>
                
            {% endif %}
        </td>
        <td class="input_text">
            <form class="form-inline" role="form" method="POST" action="{{ url_for('catalog_inline_quantity_update') }}">
                <div class="form-group">
                    <input type="hidden" name="product_id" value="{{ product['id'] }}"/>
                    <input type="text" class="form-control quantity {{ product['current_qty'] and 'not_null_qty' or ''}}"
                        id="quantity_{{product['id']}}"
                        name="new_quantity" value="{{ product['current_qty'] }}">
                </div>
                <button type="submit" class="btn btn-default update_btn">{{ _('Update')}}</button>
            </form>
        </td>
    </tr>
        {% endfor %}



    {% endfor %}
</table>

<!-- JQuery -->
<script>
    $('.update_btn').hide();
    $('.update_btn').attr('disabled', 'disabled');
    
    $('.quantity').change(function(e){
        self = this;
        var new_quantity = e.currentTarget.value;
        var product_id = e.currentTarget.id.split('_')[1];
        console.log(new_quantity);
        console.log(product_id);
        
        $.ajax({
            url: "{{ url_for('catalog_inline_quantity_update') }}",
            type: "POST",
            data: {new_quantity: new_quantity, product_id: product_id},
            timeout: 1000,
        }).done(function(msg){
            console.log(msg);
            if (msg.result.state == 'success' || msg.result.state == 'warning'){
                $('#quantity_' + product_id).val(msg.result.quantity);
                $('#quantity_' + product_id).toggleClass('not_null_qty', (msg.result.quantity != '0'));
                if (msg.result.amount_total == '0') {
                    $('#nav_shopping_cart').css('visibility', 'hidden');
                }
                else {
                    $('#nav_shopping_cart').css('visibility', 'visible');
                    $('#nav_amount_total').replaceWith("<span id='nav_amount_total'>" + msg.result.amount_total + "</span>");
                }
            }
            if (msg.result.state != 'success') {
                $('.flashes').replaceWith("<div class='flashes'><p class='text-center bg-" + msg.result.state + "'>" + msg.result.message  + "</p></div>");
            }
            else {
                $('.flashes').replaceWith("<div class='flashes' />");
            }
        }).fail(function(xhr, textstatus){
            $('.flashes').replaceWith("<div class='flashes'><p class='text-center bg-danger'> {{ _('Something wrong occured, please refresh the page.')}}</p></div>");
        });
    });
</script>

{% endblock %}

