{% extends 'base.html' %}


{% block container %}
<!-- JQuery -->
<script>
    $('#nav_catalog_inline').addClass('active');
</script>

<style type="text/css">

    .not_null_qty{
        background-color:#DDFFFF;
        font-weight:bold;
    }
</style>


<table class="table table-condensed table-bordered">
<!-- Categories -->
    {% for category in catalog_inline %}

    <tr>
        <th colspan="100%">
            <h2>
        {% if category['image_medium'] %}
            <img class="thumbnail img-responsive img-medium-eshop-categ" src="data:image/png;base64,{{ category['image_medium'] }}"/>
        {% else %}
            <img class="thumbnail img-responsive img-medium-eshop-categ" src="{{ url_for('static', filename='images/category_without_image.png') }}"/>
        {% endif %}
                {{ category['name'] }}
            </h2>
        </th>
    </tr>

        {% for product in category['product_ids'] %}
    <tr>
        <td>

            <a href="{{url_for('product', product_id=product.id)}}">
            {% if not session['eshop_vat_included'] and product['default_code']%}{{ product['default_code']}} - {% endif %}
                {{ product['name'] }}</a>
        </td>
        <td class="labels">
            {% for label in product['label_ids'] %}
                <img class="img-small-label" src="data:image/png;base64,{{ label['image_small'] }}" title="{{label['name']}}"/>
            {% endfor %}
        </td>
        <td>
                {{ product['list_price']|to_currency }}
                {% if session['eshop_vat_included']%}
                {{_('VAT. Incl.')}}
                {% else %}
                {{_('VAT. Excl.')}}
                {% endif %}
                / {{ product['uom_eshop_description'] }}
        </td>
        <td>
                {{ product['eshop_taxes_description'] }}
        </td>
            {% if session['manage_delivery_moment'] %}
        <td>
                {% if product['delivery_categ_id'] %}
            <img class="img-small-delivery-categ" src="data:image/png;base64,{{ product['delivery_categ_id']['image_small'] }}" title="{{ product['delivery_categ_id']['name'] }}"/>
                {% endif %}
        </td>
            {% endif %}
        <td class="td-input-text">
            <form class="form-inline" role="form" method="POST" action="{{ url_for('catalog_inline_quantity_update') }}">
                <div class="form-group">
                    <input type="hidden" name="product_id" value="{{ product['id'] }}"/>
                    <input type="text" class="form-control input-quantity {{ product['current_qty'] and 'not_null_qty' or ''}}"
                        id="quantity_{{product['id']}}"
                        name="new_quantity" value="{{ product['current_qty'] }}">
                </div>
                <button type="submit" class="btn btn-default hide_if_jquery_enabled">{{ _('Update')}}</button>
            </form>
        </td>
    </tr>
        {% endfor %}

    {% endfor %}
</table>

<!-- JQuery -->
<script src="{{ url_for('static', filename='js/hide_if_jquery_enabled.js') }}"></script>
<script src="{{ url_for('static', filename='js/catalog_inline_quantity_update.js') }}"></script>

{% endblock %}

