{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="active">
        <a href="{{ url_for('catalog')}}">Catalog</a>
    </li>
    {% for parent_category in parent_categories %}
    <li class="active">
        <a href="{{ url_for('catalog', category_id=parent_category['id'])}}">{{ parent_category['name'] }}</a>
    </li>
    {% endfor %}
{% endblock %}

{% block container %}

    {% if not current_category == False %}
<h1>{{ current_category.name }}</h1>
    {% else %}
<h1>Catalog</h1>
    {% endif%}

{% if categories|length %}
<!-- Categories-->
<div class="row">
    {% for category in categories %}
        {% if category.available_product_qty != 0 or category.child_qty != 0  %}
    <div class="col-xs-6 col-md-2">
        <a class="thumbnail img-responsive" href="{{ url_for('catalog', category_id=category.id)}}">
            <img src="data:image/png;base64,{{ category.image_medium }}"/>
        </a>
        <div>{{ category.name }}</div>
        <div>({{ category.available_product_qty }} Products)</div>
    </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

<!-- Products -->

{% if products|length %}
<div class="row">
    {% for product in products %}
    <div class="col-xs-6 col-md-2">
        <a class="thumbnail img-responsive" href="{{ url_for('product', product_id=product.id)}}">
            <img src="data:image/png;base64,{{ product.image_medium }}"/>
        </a>
        <div>{{ product.name }}</div>
        <div>{{ product.list_price }}</div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
