{% extends 'base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">
        <a href="{{ url_for('catalog_tree')}}">{{ _('Catalog') }}</a>
    </li>
    {% for parent_category in parent_categories %}
    <li class="active">
        <a href="{{ url_for('catalog_tree', category_id=parent_category['id'])}}">{{ parent_category['name'] }}</a>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block container %}
<!-- JQuery -->
<script>
    $('#nav_catalog_tree').addClass('active');
</script>





<!-- Categories -->
{% if categories|length %}
<div class="row">
    {% for category in categories %}
        {% if category.available_product_qty != 0 or category.child_qty != 0  %}
    <div class="col-xs-6 col-md-2">
        <a class="thumbnail img-responsive" href="{{ url_for('catalog_tree', category_id=category.id)}}">
            {% if category.image_medium %}
            <img src="data:image/png;base64,{{ category.image_medium }}"
            style="max-width:120px;"/>
            {% else %}
            <img src="{{ url_for('static', filename='images/category_without_image.png') }}"
            style="max-width:120px;"/>
            {% endif %}
        </a>
        <div>{{ category.name }}</div>
            {% if category.type == 'normal' %}
        <div>({{ category.available_product_qty }} Products)</div>
        {% else %}
        <div>({{ category.child_qty }} Categories)</div>
        {% endif %}
    </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

<!-- Products -->
{% if products|length %}
<div class="row">
    {% for product in products %}
    <div class="col-xs-6 col-md-2">
        <a class="thumbnail img-responsive" href="{{ url_for('product', product_id=product.id)}}">
            {% if product.image_medium %}
            <img src="data:image/png;base64,{{ product.image_medium }}"
                style="max-width:120px;"/>
            {% else %}
            <img src="{{ url_for('static', filename='images/product_without_image.png') }}"
            style="max-width:120px;"/>
            {% endif %}
        </a>
        <div>{{ product.name }}</div>
        <div style="text-align:center">{{ product.list_price|currency }} / {{ product.uom_id }}</div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
