{% extends 'base_account.html' %}

{% block container_account %}
<script>
    $('#nav_account_invoices').addClass('active');
</script>


<h1>{{ _('Your Invoices') }}</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ _('Number') }}</th>
            <th>{{ _('Invoice Date') }}</th>
            <th>{{ _('Untaxed Amount') }}</th>
            <th>{{ _('Total') }}</th>
            <th></th>
        <tr>
    </thead>
    <tbody>
{% for invoice in invoices %}
        <tr>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.date_invoice }}</td>
            <td>{{ invoice.amount_untaxed|to_currency }}</td>
            <td>{{ invoice.amount_total|to_currency }}</td>
            <td><a href="{{ url_for('invoice_download', invoice_id=invoice.id) }}">{{ _('Download') }}</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
