
{% extends 'base.html' %}

{% block container %}

<form class="form-horizontal" role="form" method="POST" action="{{ url_for('login_view') }}?return_to={{ request.script_root }}{{ request.path }}">
    <div class="form-group">
        <label for="login" class="col-sm-offset-2 col-sm-2 control-label">{{ _('Email') }}</label>
        <div class="col-sm-5">
            <input type="email" name="login" class="form-control" />
        </div>
        <div class="col-sm-3" >&nbsp;</div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-offset-2 col-sm-2 control-label">{{ _('Password') }}</label>
        <div class="col-sm-5">
            <input type="password" name="password" class="form-control" />
        </div>
        <div class="col-sm-3" >&nbsp;</div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-2">
            <input type="submit" class="btn btn-default" />
        </div>
</div>

</form>

{% endblock %}

{% block breadcrumb_all %}
{% endblock %}
