
{% extends 'base.html' %}

{% block container %}

<h1>{{ _('Recover Password') }}</h1>

<form class="form-horizontal" role="form" method="POST" action="{{ url_for('password_lost') }}">
    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
                <th>
                    <label for="login" class="control-label">{{ _('Email') }}</label>
                </th>
                <td colspan="100%">
                    <input type="email" name="login" class="form-control" value="{{request.form['login']}}"/>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_captcha" class="control-label">{{ _('Captcha') }} (*)</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" name="captcha">
                </td>
                <td>
                    <img src="data:image/png;base64,{{ captcha_data }}"/>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="td-action" colspan="100%">
                    <input type="submit" class="btn btn-default" />
                </th>
            </tr>
        </tfoot>
    </table>

</form>

{% endblock %}

{% block breadcrumb_all %}
{% endblock %}
