{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="active">Invoices</li>
{% endblock %}

{% block container %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Images</th>
            <th>Name</th>
            <th>Price</th>
        <tr>
    </thead>
    <tbody>
{% for product_product in product_products %}
        <tr>
            <td>{{ product_product.image_small }}</td>
            <td>{{ product_product.name }}</td>
            <td>{{ product_product.list_price }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
