{% extends 'base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('shopping_cart')}}">{{ _('Shopping Cart') }}</a></li>
    <li class="active">{{ _('Recovery Moment Place') }}</li>
</ol>
{% endblock %}

{% block container %}
<!-- JQuery -->
<script>
    $('#nav_shopping_cart').addClass('active');
</script>


<!-- Recovery Moment Group -->
<div class="row">
    <div class="col-md-12">
        <h1>{{ _('Select Your Place and Moment for Recovery') }}</h1>
    </div>
</div>

    {% for recovery_moment_group in recovery_moment_groups %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ _('Place') }}</th>
            <th>{{ _('Min Date') }}</th>
            <th>{{ _('Max Date') }}</th>
            <th>{{ _('Description') }}</th>
            <th />
        </tr>
    </thead>
    <tbody>
        {% for recovery_moment in recovery_moment_group.moment_ids %}
        <tr>
            <td>{{recovery_moment.place_id.name}}</td>
            <td>{{recovery_moment.min_recovery_date}}</td>
            <td>{{recovery_moment.max_recovery_date}}</td>
            <td>
            {% if recovery_moment.description %}
            {{recovery_moment.description}}
            {% endif %}
            </td>
            <td>
                <a data-href="{{ url_for('select_recovery_moment', recovery_moment_id=recovery_moment.id) }}"
                        data-toggle="modal" data-target="#confirm-valid"
                        class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-ok-circle"/> {{ _('Select')}}</a>
                </a>
            
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endfor %}

<!-- Validate Shopping Cart PopUp-->

<div class="modal fade" id="confirm-valid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ _('Confirm Order') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ _('You are about to valid your Shopping Cart, this procedure is irreversible.') }}</p>
                <p>{{ _('Do you want to proceed?') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                <a href="#" class="btn btn-info info">{{ _('Confirm') }}</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirm-valid').on('show.bs.modal', function(e) {
        $(this).find('.info').attr('href', $(e.relatedTarget).data('href'));
    });
</script>

{% endblock %}
