{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="active">{{ _('Shopping Cart') }}</li>
    <li>{{ _('Recovery Moment Place') }}</li>
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-md-12">
        <h1>{{ _('Your Shopping Cart ') }}({{ sale_order.name }})</h1>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ _('Product') }}</th>
            <th>{{ _('Quantity') }}</th>
            <th>{{ _('Unit') }}</th>
            <th>{{ _('Price Unit VAT Include') }}</th>
            <th>{{ _('Subtotal VAT Exclude') }}</th>
            <th />
        <tr>
    </thead>
    <tbody>
{% for sale_order_line in sale_order.order_line %}
        <tr>
            <td>
                <a href="{{url_for('product', product_id=sale_order_line.product_id.id)}}">{{ sale_order_line.name }}</a>
            </td>
            <td>
                <form class="form-inline" role="form" method="POST" action="{{ url_for('shopping_cart_quantity_update') }}">
                    <div class="form-group">
                        <input type="hidden" name="line_id" value="{{ sale_order_line.id }}" />
                        <input type="text" class="form-control quantity" 
                            id="quantity_{{sale_order_line.id}}"
                            name="new_quantity" value="{{ sale_order_line.product_uom_qty }}">
                    </div>
                    <button type="submit" class="btn btn-default update_btn">Update</button>
                </form>
            </td>
            <td>{{ sale_order_line.product_uom }}</td>
            <td>{{ sale_order_line.price_unit|currency }}</td>
            <td>
                <input type="text" disabled class="form-control"
                    id="price_subtotal_{{sale_order_line.id}}"
                    value="{{ sale_order_line.price_subtotal|currency }}" /></td>
            <td>
                <a href="{{ url_for('shopping_cart_delete_line', sale_order_line_id=sale_order_line.id) }}"
                    class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-remove-circle"/> {{ _('Remove') }}</a>
                </a>
            
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>{{ _('Untaxed Amount') }}</dt>
            <dd><input type="text" disabled class="form-control input-sm col-xs-2" id="amount_untaxed" value="{{ sale_order.amount_untaxed|currency }}" /></dd>
            <dt>{{ _('Taxes') }}</dt>
            <dd><input type="text" disabled class="form-control input-sm col-xs-2" id="amount_tax" value="{{ sale_order.amount_tax|currency }}" /></dd>
            <dt>{{ _('Total') }}</dt>
            <dd><input type="text" disabled class="form-control input-sm col-xs-2" id="amount_total" value="{{ sale_order.amount_total|currency }}"/></dd>
        </dl>
    </div>
    <div class="col-md-2"></div>
</div>

<br />
<br />
<div class="row">
    <div class="col-md-6">
        <a data-href="{{ url_for('shopping_cart_delete') }}"
            data-toggle="modal"
            data-target="#confirm-delete"
            class="col-sm-offset-3 btn btn-default" href="#" role="button">{{ _('Delete Shopping Cart') }}</a>
    </div>
    <div class="col-md-6">
        <a href="{{ url_for('recovery_moment_place') }}"
            class="col-sm-offset-3 btn btn-default" href="#" role="button">{{ _('Select Place and Moment Recovery') }}</a>
    </div>
</div>

<!-- Delete Shopping Cart PopUp-->

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ _('Confirm Delete') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ _('You are about to delete your Shopping Cart, this procedure is irreversible.') }}</p>
                <p>{{ _('Do you want to proceed?') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                <a href="#" class="btn btn-danger danger">{{ _('Delete') }}</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
    });

    $('.update_btn').hide();
    
    $('.quantity').change(function(e){
        self = this;
        var new_quantity = e.currentTarget.value;
        var line_id = e.currentTarget.id.split('_')[1];
        $.ajax({
            url: "{{ url_for('shopping_cart_quantity_update') }}",
            type: "POST",
            data: {new_quantity: new_quantity, line_id: line_id},
            timeout: 1000,
        }).done(function(msg){
            if (msg.result.state == 'success'){
                $('#price_subtotal_' + line_id).val(msg.result.price_subtotal);
                $('#quantity_' + line_id).val(msg.result.quantity);
                $('#amount_untaxed').val(msg.result.amount_untaxed);
                $('#amount_tax').val(msg.result.amount_tax);
                $('#amount_total').val(msg.result.amount_total);
            }
            else {
                $('.flashes').replaceWith("<div class='flashes'><p class='text-center bg-" + msg.result.state + "'>" + msg.result.message  + "</p></div>");
            }
        }).fail(function(xhr, textstatus){
            alert(textstatus);
        });
    });
</script>

{% endblock %}
