{% extends 'base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">{{ _('Shopping Cart') }}</li>
    <li>{{ _('Recovery Moment Place') }}</li>
</ol>
{% endblock %}

<style type="text/css">
    .quantity{
        width:150px !important;
        text-align:right;
    }
    .input_text{
        padding:0px !important;
    }
</style>
{% block container %}
<!-- JQuery -->
<script>
    $('#nav_shopping_cart').addClass('active');
</script>

<h1>{{ _('Your Shopping Cart ') }}({{ sale_order.name }})</h1>
<div class="row">
    <div class="col-md-6">
        <a data-href="{{ url_for('shopping_cart_delete') }}"
            data-toggle="modal"
            data-target="#confirm-delete"
            class="col-sm-offset-3 btn btn-default" href="#" role="button">
            <span class="glyphicon glyphicon-trash"/>
            {{ _('Delete Shopping Cart') }}</a>
    </div>
    <div class="col-md-6">
        <a href="{{ url_for('recovery_moment_place') }}"
            class="col-sm-offset-3 btn btn-default" href="#" role="button">
            <span class="glyphicon glyphicon-calendar"/>
            {{ _('Select Place and Moment Recovery') }}</a>
            
    </div>
</div>

<hr />

<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>{{ _('Product') }}</th>
            {% if session['eshop_vat_included'] %}
            <th>{{ _('Price Unit VAT Included') }}</th>
            {% else %}
            <th>{{ _('Price Unit VAT Excluded') }}</th>
            {% endif %}
            <th>{{ _('Quantity') }}</th>
            <th>{{ _('Unit') }}</th>
            {% if session['eshop_vat_included'] %}
            <th>{{ _('Subtotal VAT Included') }}</th>
            {% else %}
            <th>{{ _('Subtotal VAT Excluded') }}</th>
            {% endif %}
            <th />
        <tr>
    </thead>
    <tbody>
{% for line in sale_order.order_line %}
        <tr>
            <td>
                <a href="{{url_for('product', product_id=line.product_id.id)}}">{{ line.name }}</a>
            </td>
            <td>{{ line.price_unit|to_currency }}</td>
            <td class="input_text">
                <form class="form-inline" role="form" method="POST" action="{{ url_for('shopping_cart_quantity_update') }}">
                    <div class="form-group">
                        <input type="hidden" name="line_id" value="{{ line.id }}" />
                        <input type="text" class="form-control quantity" 
                            id="quantity_{{line.id}}"
                            name="new_quantity" value="{{ line.product_uom_qty }}">
                    </div>
                    <button type="submit" class="btn btn-default update_btn">{{ _('Update')}}</button>
                </form>
            </td>
            <td>{{ line.product_uom.eshop_description }}</td>
            {% if session['eshop_vat_included'] %}
            <td>
                <input type="text" class="form-control input-sm" id="price_subtotal_{{line.id}}" 
                        placeholder="{{ line.price_subtotal_taxinc|to_currency }}" readonly/>
            </td>
            {% else %}
            <td>
                <input type="text" class="form-control input-sm" id="price_subtotal_{{line.id}}" 
                        placeholder="{{ line.price_subtotal|to_currency }}" readonly/>
            </td>
            {% endif %}
            <td>
                <a href="{{ url_for('shopping_cart_delete_line', line_id=line.id) }}"
                    class="btn btn-default" role="button">
                        <span class="glyphicon glyphicon-remove"/> {{ _('Remove') }}</a>
                </a>
            </td>
        </tr>
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">&nbsp;</th>
            <th>{{ _('Untaxed Amount') }}</th>
            <td colspan="2">
                <input type="text" class="form-control input-sm" id="amount_untaxed"
                        placeholder="{{ sale_order.amount_untaxed|to_currency }}" readonly/></td>
        </tr>
        <tr>
            <th colspan="3">&nbsp;</th>
            <th>{{ _('Taxes') }}</th>
            <td colspan="2">
                <input type="text" class="form-control input-sm" id="amount_tax" 
                        placeholder="{{ sale_order.amount_tax|to_currency }}" readonly/></td>
        </tr>
        <tr>
            <th colspan="3">&nbsp;</th>
            <th>{{ _('Total') }}</th>
            <td colspan="2">
                <input type="text" class="form-control input-sm" id="amount_total"
                        placeholder="{{ sale_order.amount_total|to_currency }}" readonly/></td>
        </tr>
    </tfoot>
    
</table>



<!-- Delete Shopping Cart PopUp-->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ _('Confirm Delete') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ _('You are about to delete your Shopping Cart, this procedure is irreversible.') }}</p>
                <p>{{ _('Do you want to proceed?') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                <a href="#" class="btn btn-danger danger">{{ _('Delete') }}</a>
            </div>
        </div>
    </div>
</div>

<!-- JQuery -->
<script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
    });
</script>

<script src="{{ url_for('static', filename='js/update_btn_hide.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopping_cart_quantity_update.js') }}"></script>

{% endblock %}
