{% extends 'base.html' %}

{% block container %}
<!-- JQuery -->
<script>
    $('#nav_account').addClass('active');
</script>

<!-- Account Data -->
<h1>{{ _('Your Account') }}</h1>

<form class="form-horizontal" role="form" method="POST" action="{{ url_for('account') }}">
    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
                <th>
                    <label for="account_name" class="control-label">{{ _('Name') }} (*)</label>
                </th>
                <td colspan="100%">
                    <input type="text" class="form-control account_data" value="{{ partner.name|empty_if_null }}" readonly>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_email" class="control-label">{{ _('Email') }} (*)</label>
                </th>
                <td colspan="100%">
                    <input type="email" class="form-control account_data" name="email" value="{{ partner.email|empty_if_null }}" readonly>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_mobile" class="control-label">{{ _('Cell Phone') }}</label>
                </th>
                <td>
                    <input type="tel" class="form-control account_data" name="mobile" value="{{ partner.mobile|empty_if_null }}"">
                </td>
                <th>
                    <label for="account_phone" class="control-label">{{ _('Other Phone') }}</label>
                </th>
                <td>
                    <input type="tel" class="form-control account_data" name="phone" value="{{ partner.phone|empty_if_null }}"" >
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_street" class="control-label">{{ _('Street') }}</label>
                </th>
                <td colspan="100%">
                    <input type="text" class="form-control account_data" name="street" value="{{ partner.street|empty_if_null }}"">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_street2" class="control-label">{{ _('Street (Extra Info)') }}</label>
                </th>
                <td colspan="100%">
                    <input type="text" class="form-control account_data" name="street2" value="{{ partner.street2|empty_if_null }}"">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="account_zip" class="control-label">{{ _('ZIP Code') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" name="zip" value="{{ partner.zip|empty_if_null }}"">
                </td>
                <th>
                    <label for="account_city" class="control-label">{{ _('City') }}</label>
                </th>
                <td>
                    <input type="text" class="form-control account_data" name="city" value="{{ partner.city|empty_if_null }}"">
                </td>
            </tr>
            <tr>
                <th colspan="100%">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="checkbox-change-password" name="checkbox-change-password" {{ request.form['checkbox-change-password'] and 'checked' or ''}}>
                        {{ _('Check this box if you want to change your password') }}
                      </label>
                    </div>
                </th>
            </tr>
            {% if request['checkbox-change-password'] %}
            <tr class="password-form">
            {% else %}
            <tr style="visibility: hidden;" class="password-form">
            {% endif %}
                <th>
                    <label for="password_1" class="control-label">{{ _('Password') }} (*)</label>
                </th>
                <td>
                    <input type="password" class="form-control account_data" name="password_1">
                </td>
                <th>
                    <label for="password_1" class="control-label">{{ _('Password (Check)') }} (*)</label>
                </th>
                <td>
                    <input type="password" class="form-control account_data" name="password_2">
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td class="td-action" colspan="100%">
                    <button type="submit" class="btn btn-default">{{ _('Update')}}</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>

<!-- JQuery -->

<script>
$(document).ready(function() {
    function display_or_not(){
        if ($('#checkbox-change-password').is(':checked')){
            $('.password-form').css('visibility', 'visible');
        }
        else{
            $('.password-form').css('visibility', 'hidden');
        }
    }

    $('#checkbox-change-password').change(function() {
        display_or_not();
    });
    display_or_not();
});
</script>

{% endblock %}


