<!DOCTYPE html>
<html>
{% set partner = current_partner() %}
{% set wallet = current_partner_wallet() %}
{% set company = current_company() %}
{% set sale_order = current_sale_order() %}
{% set is_vat_included = is_vat_included()%}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
        <title>{{ company.eshop_title }}</title>

        <script src="{{ url_for('static', filename='lib/jquery/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.bundle.min.js') }}"></script>
        <link href="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='lib/bootstrap-icons/bootstrap-icons.min.css') }}" rel="stylesheet" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Custom script -->
        <script src="{{ url_for('static', filename='js/custom_functions.js') }}"></script>
        <script src="{{ url_for('static', filename='js/global_scripts.js') }}"></script>

        <script>
            FLASK_URL_FOR = {
                'catalog_inline_quantity_update': "{{ url_for('catalog_inline_quantity_update') }}",
                'shopping_cart_quantity_update': "{{ url_for('shopping_cart_quantity_update') }}",
                'shopping_cart_eshop_note_update': "{{ url_for('shopping_cart_eshop_note_update') }}",
                'product_adjust_qty': "{{ url_for('product_adjust_qty') }}",
            };
            AJAX_TIMEOUT = 3000;
            AJAX_MESSAGE_ERROR = "{{ _('Something wrong occured, please refresh the page.')}}";
        </script>

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/eshop_2.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    </head>

    <body>

    <!-- TOP FIXED NAVBAR FOR MOBILE-->
    <nav class="navbar sticky-top navbar-expand bg-body-tertiary" data-bs-theme="light">
      <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename=company.eshop_image_128_local_path) }}" alt="Logo" width="30" height="30">
          <span class="d-none d-md-inline">{{ company.eshop_title }}</span>
        </a>

        <!-- Collapse toggle on mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNavbar"
          aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between">

            <!-- LEFT BLOCK -->
            <ul class="navbar-nav flex-row align-items-center gap-2 mb-0">
                {% if company.eshop_catalog_view_enabled %}
                <li class="nav-item">
                  <a class="nav-link" title="{{ _('Products Catalog') }}" onclick="GoToThePage(this)" page_url="{{url_for('catalog_tree')}}">
                    <i class="bi bi-collection"></i>
                    <span class="d-none d-sm-inline">{{ _('Products Catalog') }}</span>
                  </a>
                </li>
                {% endif %}

                <!-- If connected -->
                {% if company.eshop_list_view_enabled and partner %}
                <li class="nav-item">
                  <a class="nav-link" title="{{ _('Quick Purchase') }}" onclick="GoToThePage(this)" page_url="{{url_for('catalog_inline')}}">
                    <i class="bi bi-list-ul"></i>
                    <span class="d-none d-sm-inline">{{ _('Quick Purchase') }}</span>
                  </a>
                </li>
                {% endif %}

                <!-- Always displayed -->
                <li class="nav-item">
                  <a class="nav-link" title="{{ _('See moment for recovery') }}" onclick="GoToThePage(this)" page_url="{{url_for('recovery_moment_place_public')}}">
                    <i class="bi bi-shop-window"></i>
                    <span class="d-none d-sm-inline">{{ _('See moment for recovery') }}</span>
                  </a>
                </li>
            </ul>

            <!-- RIGHT BLOCK -->
            <ul class="navbar-nav flex-row align-items-center gap-2 mb-0 ms-auto">
                <!-- Shopping Cart -->
                {% if partner %}
                <li class="nav-item d-none d-sm-block">
                    <a class="nav-link" onclick="GoToThePage(this)" page_url="{{ url_for('account_wallet') }}">
                        <i class="bi bi-wallet2"></i>
                        <span class="d-none d-sm-inline">{{ _('Wallet: ') }}</span>
                        <span id="nav_wallet_balance">{{ current_partner().customer_wallet_balance|to_currency }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    {% if not sale_order %}
                        <i class="bi bi-basket2"></i>
                        <span class="d-none d-sm-inline">{{ _('Shopping Cart: ') }}</span>
                        <span id="nav_amount_total">
                            {{ _('0.00$') }}
                        </span>
                    {% else %}
                    <a class="nav-link" onclick="GoToThePage(this)" page_url="{{ url_for('shopping_cart') }}">
                        <i class="bi bi-basket2"></i>
                        <span class="d-none d-sm-inline">{{ _('Shopping Cart: ') }}</span>

                        <span id="nav_amount_total">
                            {% set amount = sale_order.amount_total if is_vat_included else sale_order.amount_untaxed %}
                            {{ amount|to_currency }}
                            {{ _('VAT. Incl.') if is_vat_included else _('VAT. Excl.') }}
                        </span>

                        {% set min_reached = amount >= company.eshop_minimum_price %}
                        {% set tooltip_ok = _('Minimum amount reached') %}
                        {% set tooltip_ko = _('You have not reached the ceiling : ') ~ company.eshop_minimum_price|to_currency %}

                        <i class="bi bi-check-circle"
                           id="nav_shopping_cart_ok"
                           {% if not min_reached %}style="display:none"{% endif %}
                           data-bs-toggle="tooltip"
                           title="{{ tooltip_ok }}"></i>

                        <i class="bi bi-exclamation-diamond"
                           id="nav_shopping_cart_warning"
                           {% if min_reached %}style="display:none"{% endif %}
                           data-bs-toggle="tooltip"
                           title="{{ tooltip_ko }}"></i>

                    </a>
                    {% endif %}
                </li>
                {% endif %}
                {% if partner %}
                <!-- Account -->
                <li class="nav-item dropdown position-relative">
                  <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="{{ _('Your Account') }}">
                    <i class="bi bi-person-circle"></i>
                    <span class="d-none d-sm-inline">{{ partner.name }}</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <span class="d-sm-none">
                        <li><a class="dropdown-item" onclick="GoToThePage(this)" page_url="{{url_for('account_wallet')}}"><i class="bi bi-wallet2"></i> {{ _('Wallet: ') }}<span id="nav_wallet_balance">{{ current_partner().customer_wallet_balance|to_currency }}</span></a></li>
                        <li><hr class="dropdown-divider"></li>
                    </span>

                    <li><a class="dropdown-item" onclick="GoToThePage(this)" page_url="{{url_for('account')}}">{{ _('Personnal Datas') }}</a></li>
                    <li><a class="dropdown-item" onclick="GoToThePage(this)" page_url="{{url_for('orders')}}">{{ _('Orders History') }}</a></li>
                    <li><a class="dropdown-item" onclick="GoToThePage(this)" page_url="{{url_for('invoices')}}">{{ _('Invoices History') }}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" onclick="GoToThePage(this)" page_url="{{url_for('logout_view')}}"><i class="bi bi-box-arrow-right"></i> {{ _('Log Out') }}</a></li>
                </li>
                {% endif %}
            </ul>

        <!-- IF NOT CONNECTED : REGISTER & LOG IN -->
        {% if not partner %}
            <ul class="nav navbar-nav nav-underline flex-row align-items-center gap-2 mb-0 ms-auto">
                {% if company.eshop_register_allowed %}
                <li class="nav-item">
                    <a class="nav-link" id="nav_register" title="{{ _('Register') }}" href="{{ url_for('register') }}">
                        <i class="bi bi-pencil"></i><span class="d-none d-sm-inline"> {{ _('Register') }}</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login_view') }}" title="{{ _('Log In') }}">
                    <i class="bi bi-door-open"></i><span class="d-none d-sm-inline" > {{ _('Log In') }}</span>
                    </a>
                </li>
            </ul>
        {% endif %}
        </div>

      </div>
    </nav>


    <!-- FLASHED MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if message|length %}
    <div class="mt-4 container alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-diamond"></i> {{ message }}
    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- BOTTOM Fixed navbar -->
    <nav class="navbar fixed-bottom bg-body-tertiary">
      <div class="container">

          <ul class="nav justify-content-center">
    {% if company.social_instagram %}
            <li class="nav-item">
                <a class="nav-link" href="{{ company.social_instagram }}" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
    {% endif %}
    {% if company.social_facebook %}
            <li class="nav-item">
                <a class="nav-link" href="{{ company.social_facebook }}" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
    {% endif %}
    {% if company.website %}
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{ company.website }}"
                    title="{{_('Visit our Website')}}">
                {{_('Web Site')}}
                </a>
            </li>
    {% endif %}
            <li class="nav-item">
                <a class="nav-link" id="nav_legal_notices" onclick="GoToThePage(this)" page_url="{{url_for('legal_notices')}}">
                {{_('Legal Notices')}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact" onclick="GoToThePage(this)" page_url="{{url_for('contact')}}">
                {{_('Contact')}}
                </a>
            </li>

          </ul>

        <div class="justify-content-end d-none d-md-block">
            <span class="nav-item">
                {{_('We use <a href="https://luciole-vision.com/" target="_blank">Luciole : a Free font</a> designed to be accessible to the visually impaired.')}}
            </span>
        </div>

      </div>

    </nav>

    <div id="base-container" class="container">
{% block breadcrumb %}{% endblock %}

{% block container %}{% endblock %}
    </div>

    </body>
</html>

<!-- Activate Tootltips -->
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
  const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
  tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl);
  });
});

</script>
