<!DOCTYPE html>
<html lang="en">
{% set company = get_company() %} 
{% set sale_order = get_current_sale_order() %} 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
        <title>{{ company.eshop_title }}</title>

    <!-- from : http://code.jquery.com/jquery-2.1.4.min.js -->
        <script src="{{ url_for('static', filename='lib/js/jquery-2.1.4.min.js') }}"></script>

    <!-- from : http://mkoryak.github.io/floatThead/#download -->
        <script src="{{ url_for('static', filename='lib/js/jquery.floatThead.min.js') }}"></script>

    <!-- from : https://github.com/twbs/bootstrap/releases/download/v3.3.5/bootstrap-3.3.5-dist.zip -->
        <script src="{{ url_for('static', filename='lib/js/bootstrap.min.js') }}"></script>
        <link href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}" rel="stylesheet" />

        <script src="{{ url_for('static', filename='js/custom_functions.js') }}"></script>
    {% block extra_css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <script>
            FLASK_URL_FOR = {
                'catalog_inline_quantity_update': "{{ url_for('catalog_inline_quantity_update') }}",
                'shopping_cart_quantity_update': "{{ url_for('shopping_cart_quantity_update') }}",
                'shopping_cart_note_update': "{{ url_for('shopping_cart_note_update') }}",
            };
            AJAX_MESSAGE_ERROR = "{{ _('Something wrong occured, please refresh the page.')}}";
        </script>

        <link href="{{ url_for('static', filename='css/eshop.css') }}" rel="stylesheet" />

    </head>


    <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top eshop_navbar_default">
      <div class="container eshop_head_container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{{ _('Toggle navigation')}}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                <li>
                    <a class="btn-default eshop_a_link_header" id="nav_home" href="{{  url_for('home') }}">
                        <img src="{{ url_for('get_image', model='res.company', id=company.id, field='eshop_image_small', sha1=company.sha1) }}"
                            class="img-icon-header"/>
                    </a>

{% if session.get('partner_name', False) %}
            <li><a class="btn-default eshop_a_link_header" id="nav_catalog_tree" href="{{ url_for('catalog_tree') }}">
                    <span class="glyphicon glyphicon-th"/> {{ _('Products Catalog)') }}
                </a></li>
    {% if company.eshop_list_view_enabled %}
            <li><a class="btn-default eshop_a_link_header" id="nav_catalog_inline" href="{{ url_for('catalog_inline') }}">
                    <span class="glyphicon glyphicon-th-list"/> {{ _('Quick Purchase') }}
                </a></li>
    {% endif %}
    {% if sale_order %}
            <li><a class="btn-default eshop_a_link_header" id="nav_shopping_cart" href="{{ url_for('shopping_cart') }}">
                <span class="glyphicon glyphicon-shopping-cart"/> {{ _('Shopping Cart: ') }}
        {% if company.eshop_vat_included %}
                <span id="nav_amount_total">{{ sale_order.amount_total|to_currency }}</span>
                             {{_('VAT. Incl.')}}
            {% if sale_order.amount_total >= company.eshop_minimum_price %}
                <span class="glyphicon glyphicon-ok-circle"/> - 
                <span class="glyphicon glyphicon-warning-sign" style="display:none"/>
            {% else %}
                <span class="glyphicon glyphicon-warning-sign"/> - 
                <span class="glyphicon glyphicon-ok-circle" style="display:none"/>
            {% endif %}
        {% else %}
                <span id="nav_amount_total">{{ sale_order.amount_untaxed|to_currency }}</span>
                             {{_('VAT. Excl.')}}
            {% if sale_order.amount_untaxed >= company.eshop_minimum_price %}
                <span class="glyphicon glyphicon-ok-circle" id="nav_shopping_cart_ok" ></span>
                <span class="glyphicon glyphicon-warning-sign" id="nav_shopping_cart_warning"
                        style="display:none"
                        title="{{_('You have not reached the ceiling : ')}} {{company.eshop_minimum_price|to_currency}}"></span>
            {% else %}
                    <span class="glyphicon glyphicon-ok-circle" id="nav_shopping_cart_ok"
                            style="display:none"></span>
                    <span class="glyphicon glyphicon-warning-sign" id="nav_shopping_cart_warning"
                                title="{{_('You have not reached the ceiling : ')}} {{company.eshop_minimum_price|to_currency}}"></span>

            {% endif %}
        {% endif %}

                </a></li>
    {% else %}
            <li>
                <a class="btn-default eshop_a_link_header" id="nav_shopping_cart" style="visibility:hidden" href="{{  url_for('shopping_cart') }}">
                    <span class="glyphicon glyphicon-shopping-cart"/> {{ _('Shopping Cart: ') }}
                    <span id="nav_amount_total">{{ 0|to_currency }}</span>
                    <span class="glyphicon glyphicon-warning-sign" id="nav_shopping_cart_warning"
                            title="{{_('You have not reached the ceiling : ')}} {{company.eshop_minimum_price|to_currency}}"></span>
                    <span class="glyphicon glyphicon-ok-circle" id="nav_shopping_cart_ok" 
                            style="display:none"></span>
                </a></li>
    {% endif %}
{% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
{% if company.eshop_facebook_url %}
            <li><a class="btn-default eshop_a_link_header" href="{{ company.eshop_facebook_url }}" target="_blank">
                <img class="eshop_img_icon_header" title="{{_('Visit our Facebook Page')}}"
                        src="{{ url_for('static', filename='images/icon-facebook.png') }}"/>
            </a></li>
{% endif %}
{% if company.eshop_google_plus_url %}
            <li><a class="btn-default eshop_a_link_header" href="{{ company.eshop_google_plus_url }}" target="_blank">
                <img class="eshop_img_icon_header" title="{{_('Visit our Google + Page')}}"
                        src="{{ url_for('static', filename='images/icon-google-plus.png') }}"/>
            </a></li>
{% endif %}
{% if company.eshop_twitter_url %}
            <li><a class="btn-default eshop_a_link_header" href="{{ company.eshop_twitter_url }}" target="_blank">
                <img class="eshop_img_icon_header" title="{{_('Visit our Twitter Page')}}"
                        src="{{ url_for('static', filename='images/icon-twitter.png') }}"/>
            </a></li>
{% endif %}
{% if company.name %}
            <li><a class="btn-default eshop_a_link_header" title="{{_('Visit our Website')}}" target="_blank"
                    href="{{ company.website }}">
                {{_('Web Site')}}
            </a></li>
{% endif %}

{% if 'partner_name' in session %}

            <li class="dropdown">
                <a href="#" class="btn-default dropdown-toggle eshop_a_link_header" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"/> {{ _('Your Account') }}
                    <span class="caret" /></a>
                <ul class="dropdown-menu">
                    <li><a class="btn-default eshop_a_link_header" href="{{ url_for('account')}}">
                        {{ _('Personnal Datas') }}
                    </a></li>
                    <li><a class="btn-default eshop_a_link_header" href="{{ url_for('orders')}}">
                        {{ _('Orders History') }}
                    </a></li>
                    <li><a class="btn-default eshop_a_link_header" href="{{ url_for('invoices')}}">
                        {{ _('Invoices History') }}
                    </a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="btn-default eshop_a_link_header" href="{{ url_for('logout_view') }}">
                            <span class="glyphicon glyphicon-log-out"/> {{ _('Log Out') }}
                    </a></li>
                </ul>
            </li>
{% else %}

    {% if company.eshop_register_allowed %}
            <li><a class="btn-default eshop_a_link_header" id="nav_register" href="{{ url_for('register') }}">
                <span class="glyphicon  glyphicon glyphicon-pencil"/> {{ _('Register') }}
            </a></li>
    {% endif %}
            <li><a class="btn-default eshop_a_link_header" href="{{ url_for('login_view') }}">
                <span class="glyphicon glyphicon-log-in"/> {{ _('Log In') }}
            </a></li>
{% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
          {% block container %}{% endblock %}
    </div>

    </body>
</html>
