{% extends 'base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">
        <a href="{{ url_for('catalog_tree')}}">{{ _('Catalog') }}</a>
    </li>
    {% for parent_category in parent_categories %}
    <li class="active">
        <a href="{{ url_for('catalog_tree', category_id=parent_category['id'])}}">{{ parent_category['name'] }}</a>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block container %}
<!-- JQuery -->
<script>
    $('#nav_catalog_tree').addClass('active');
</script>


<style type="text/css">

p { margin: 0; padding: 0; font-family: sans-serif;}

.ellipsis {
    text-align:center;
    overflow: hidden;
    height: 44px;
}

.ellipsis:before {
    content:"";
    float: left;
    width: 5px; height: 44px;
}

.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.product-price{
    text-align:center;
    height:22px;
}
.product-price > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.ellipsis:after {
    content: "\02026";

    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

    float: right; position: relative;
    top: -25px; left: 100%; 
    width: 3em; margin-left: -3em;
    padding-right: 5px;

    text-align: right;

    background: -webkit-gradient(linear, left top, right top,
        from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); }


</style>

<!-- Categories -->
{% if category_ids|length %}
<div class="row">
    {% for category_id in category_ids %}
        {% set category = get_object('eshop.category', category_id) %} 
        {% if category.available_product_qty != 0 or category.child_qty != 0  %}
    <div class="col-sm-3 col-md-2 col-xs-6">
        <a class="thumbnail" href="{{ url_for('catalog_tree', category_id=category.id)}}">
            <div style="text-align:center;min-height:120px;">
                <img src="{{ url_for('get_image', model='eshop.category', id=category.id, field='image_medium', sha1=category.sha1) }}"
                    style="max-width:120px;"/>
            </div>
            <div class="ellipsis">
                <p>{{ category.name }}</p>
            </div>
            <div class="product-price">
                <p>
                {% if category.type == 'normal' %}
                {{category.available_product_qty}} {{_('Products')}}
                {% else %}
                ({{ category.child_qty }} {{_('Categories')}})
                {% endif %}
                </p>
            </div>
        </a>
    </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

<!-- Products -->
{% if product_ids|length %}
<div class="row">
    {% for product_id in product_ids %}
        {% set product = get_object('product.product', product_id) %} 
        {% set uom = get_object('product.uom', product.uom_id) %} 

    <div class="col-sm-3 col-md-2 col-xs-6">
        <a class="thumbnail" href="{{ url_for('product', product_id=product.id)}}" title="{{ product.name }}">
            <div style="text-align:center;min-height:120px;">
                <img src="{{ url_for('get_image', model='product.product', id=product.id, field='image_medium', sha1=product.sha1) }}"
                    style="max-width:120px;"/>
            </div>
            <div class="ellipsis">
                <p>{{ product.name }}</p>
            </div>
            <div class="product-price">
                <p>
                {{ product.list_price|to_currency }} / {{ uom.eshop_description }}
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
