{% extends 'base.html' %}


{% block container %}
<!-- JQuery -->
<script>
    $('#nav_catalog_inline').addClass('active');
</script>

{% set company = get_company() %} 

<table class="table table-condensed table-bordered eshop_table_float_thead">
    <thead>
        <tr>
            <th>{{_('Product Name')}}</th>
            <th>{{_('Labels')}}</th>
            <th>
{% if company.eshop_vat_included %}
                {{_('U.P. VAT Incl.')}}
{% else %}
                {{_('U.P. VAT Excl.')}}
{% endif %}
            </th>
            <th>{{_('Unit')}}</th>
            <th>{{_('Min.')}}</th>
            <th>{{_('VAT')}}</th>
{% if company.manage_delivery_moment %}
            <th title="{{ _('Delivery Category') }}">
                {{ _('Categ.') }}
            </th>
{% endif %}
            <th>{{ _('Quantity') }}</th>
        </tr>
    </thead>
    <tbody>
<!-- Categories -->
    {% for category in catalog_inline %}
        <tr>
            <th colspan="100%">
                <h2>
                    <img class="thumbnail img-responsive img-medium-eshop-categ"
                        src="{{ url_for('get_image', model='eshop.category', id=category['id'], field='image_medium', sha1=category['sha1']) }}"/>
                {{ category['complete_name'] }}
                </h2>
            </th>
        </tr>

        {% for product in category['product_ids'] %}
        <tr>
            <td>
                <a href="#" data-featherlight="{{ url_for('product_popup', product_id=product['id']) }}">
            {% if not company.eshop_vat_included and product['default_code']%}{{ product['default_code']}} - {% endif %}
                {{ product['name'] }}</a>
            </td>
            <td class="labels">
            {% for label in product['label_ids'] %}
                    <img class="img-small-label" title="{{label['name']}}"
                        src="{{ url_for('get_image', model='product.label', id=label['id'], field='image_small', sha1=label['sha1']) }}"/>
            {% endfor %}
            </td>
            <td>
                {{ product['list_price']|to_currency }}
            </td>
            <td>
                {{ product['eshop_description'] }}
            </td>
            <td>
                {{product['eshop_minimum_qty']}}
            </td>
            <td>
                {{ product['eshop_taxes_description'] }}
            </td>
            {% if company.manage_delivery_moment %}
            <td>
                {% if product['delivery_categ_id'] %}
                    {{ product['delivery_categ_id']['name'] }}
                {% endif %}
            </td>
            {% endif %}
            <td class="td-input-text">
                <form class="form-inline" role="form" method="POST" action="{{ url_for('catalog_inline_quantity_update') }}">
                    <div class="form-group">
                        <input type="hidden" name="product_id" value="{{ product['id'] }}"/>
                        <input type="text" class="form-control input-quantity {{ product['current_qty'] and 'input-not-null-qty' or ''}}"
                            id="quantity_{{product['id']}}"
                            name="new_quantity" value="{{ product['current_qty'] }}">
                    </div>
                    <button type="submit" class="btn btn-default hide_if_jquery_enabled">{{ _('Update')}}</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>


<!-- JQuery -->
<script src="{{ url_for('static', filename='js/hide_if_jquery_enabled.js') }}"></script>
<script src="{{ url_for('static', filename='js/catalog_inline_quantity_update.js') }}"></script>
<script src="{{ url_for('static', filename='js/set_table_float_thead.js') }}"></script>
{% endblock %}
