{% extends 'base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">
        <a href="{{ url_for('catalog_tree')}}">{{ _('Catalog') }}</a>
    </li>
    {% for parent_category in parent_categories %}
    <li class="active">
        <a href="{{ url_for('catalog_tree', category_id=parent_category['id'])}}">{{ parent_category['name'] }}</a>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block container %}
<!-- JQuery -->
<script>
    $('#nav_catalog_tree').addClass('active');
</script>


<!-- Categories -->
{% if category_ids|length %}
<div class="row">
    {% for category_id in category_ids %}
        {% set category = get_object('eshop.category', category_id) %} 
        {% if category.available_product_qty != 0 or category.child_qty != 0  %}
    <div class="col-sm-3 col-md-2 col-xs-6">
        <a class="thumbnail" href="{{ url_for('catalog_tree', category_id=category.id)}}">
            <div style="text-align:center;min-height:120px;">
                <img src="{{ url_for('static', filename=category.image_medium_local_path) }}"
                    style="max-width:120px;"/>
            </div>
            <div class="ellipsis">
                <p>{{ category.name }}</p>
            </div>
            <div class="product-price">
                <p>
                {% if category.type == 'normal' %}
                {{category.available_product_qty}} {{_('Products')}}
                {% else %}
                ({{ category.child_qty }} {{_('Categories')}})
                {% endif %}
                </p>
            </div>
        </a>
    </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

<!-- Products -->
{% if product_ids|length %}
<div class="row">
    {% for product_id in product_ids %}
        {% set product = get_object('product.product', product_id) %} 
        {% set uom = get_object('product.uom', product.uom_id) %} 

    <div class="col-sm-3 col-md-2 col-xs-6">
        <a class="thumbnail" href="{{ url_for('product', product_id=product.id)}}" title="{{ product.name }}">
            <div style="text-align:center;min-height:120px;">
                <img src="{{ url_for('static', filename=product.image_medium_local_path) }}"
                    style="max-width:120px;"/>
            </div>
            <div class="ellipsis">
                <p>{{ product.name }}</p>
            </div>
            <div class="product-price">
                <p>
                {{ product.list_price|to_currency }} / {{ uom.eshop_description }}
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
