{% extends 'base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('shopping_cart')}}">{{ _('Shopping Cart') }}</a></li>
    <li class="active">{{ _('Delivery Moment') }}</li>
</ol>
{% endblock %}

{% block container %}
<!-- JQuery -->
<script>
    $('#nav_shopping_cart').addClass('active');
</script>

{% set company = get_company %} 

<!-- Delivery Moment -->
<div class="row">
    <div class="col-md-12">
        <h1>{{ _('Select Delivery Moment') }}</h1>
    </div>
</div>

    {% if delivery_moments|length == 0 %}
    <div class="flashes">
        <p class="text-center bg-danger">{{ _('Sorry. For the time being, there is no possibility to select a date to receive your order. Please contact your seller.')}}</p>
    </div>

    {% else %}

<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>{{ _('Day') }}</th>
            <th>{{ _('Date') }}</th>
            <th>{{ _('Min Time') }}</th>
            <th>{{ _('Max Time') }}</th>
            <th>{{ _('Description') }}</th>
            <th />
        </tr>
    </thead>
    <tbody>
        {% for delivery_moment in delivery_moments %}
        <tr>
            <td>{{delivery_moment['min_delivery_date']|to_day}}</td>
            <td>{{delivery_moment['min_delivery_date']|to_date}}</td>
            <td>{{delivery_moment['min_delivery_date']|to_time}}</td>
            <td>{{delivery_moment['max_delivery_date']|to_time}}</td>
            <td>
                {% if delivery_moment['description'] %}
                {{delivery_moment['description']}}
                {% endif %}
            </td>
            <td class="td-action">
                {% if delivery_moment['is_complete'] %}
                {{ _('Complete')}} 
                {% else %}
                    {% if not delivery_moment['is_delay_possible'] %}
                {{_('Too Short Deadline')}}
                    {% else %}
                        {% if not delivery_moment['is_limit_ok'] %}
                {{_("Partial Delivery doesn't rich minimum price")}}<br />
                            {% if company.eshop_vat_included %}
                                ({{ delivery_moment['amount_vat_included']|to_currency}} / {{ company.eshop_minimum_price|to_currency}}))
                            {% else %}
                                ({{ delivery_moment['amount_vat_excluded']|to_currency}} / {{ company.eshop_minimum_price|to_currency}})
                            {% endif %}
                        {% else %}
                            {% if delivery_moment['is_partial'] %}
                            <a data-href="{{ url_for('select_delivery_moment', delivery_moment_id=delivery_moment['id']) }}"
                                    data-toggle="modal" data-target="#confirm-partial-valid"
                                    class="btn btn-default btn-warning" role="button">
                                <span class="glyphicon glyphicon-warning-sign"/> {{ _('Partial Delivery')}}</a>
                            </a>
                            <br/>
                            {{_("Some products with higher delay will not be delivered at this date")}}<br />
                            {% else %}
                            <a data-href="{{ url_for('select_delivery_moment', delivery_moment_id=delivery_moment['id']) }}"
                                    data-toggle="modal" data-target="#confirm-valid"
                                    class="btn btn-default btn-success" role="button">
                                <span class="glyphicon glyphicon-ok-circle"/> {{ _('Select')}}</a>
                            </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        {% endfor %}
        </tr>
    </tbody>
</table>

    {% endif %}

<!-- Validate Shopping Cart PopUp Partial-->
<div class="modal fade" id="confirm-partial-valid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ _('Confirm Order') }}</h4>
            </div>
            <div class="modal-body confirm-part">
                <p>{{ _('You are about to partially valid your Shopping Cart.') }}</p>
                <p>{{ _('Do you want to proceed?') }}</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                <a href="#" class="btn btn-warning btn-confirm">{{ _('Confirm') }}</a>
            </div>
            </div>
            <div class="modal-body loading loading-part">
                <div style="text-align: center">
                    <img src="{{ url_for('static', filename='images/loading.gif') }}" style="width:30px;height=30px" />
                    <p>{{ _('Please wait while your sale is being processed.<br /> This can take a few seconds.') }}</p>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Validate Shopping Cart PopUp Complete-->
<div class="modal fade" id="confirm-valid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ _('Confirm Order') }}</h4>
            </div>
            <div class="modal-body confirm-part">
                <p>{{ _('You are about to completely valid your Shopping Cart.') }}</p>
                <p>{{ _('Do you want to proceed?') }}</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                <a href="#" class="btn btn-success btn-confirm">{{ _('Confirm') }}</a>
            </div>
            </div>
            <div class="modal-body loading loading-part">
                <div style="text-align: center">
                    <img src="{{ url_for('static', filename='images/loading.gif') }}" style="width:30px;height=30px" />
                    <p>{{ _('Please wait while your sale is being processed.<br /> This can take a few seconds.') }}</p>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    $('.loading-part').hide();
    $('.btn-confirm').on('click', function(e) {
        $('.loading-part').show();
        $('.confirm-part').hide();
    });
    $('#confirm-valid').on('show.bs.modal', function(e) {
        $(this).find('.btn-confirm').attr('href', $(e.relatedTarget).data('href'));
    });
    $('#confirm-partial-valid').on('show.bs.modal', function(e) {
        $(this).find('.btn-confirm').attr('href', $(e.relatedTarget).data('href'));
    });
</script>

{% endblock %}
