{% extends 'base.html' %}

{% block container %}
<script>
function togglePassword() {
    const input = document.getElementById("password");
    const icon = document.getElementById("toggleIcon");
    const isVisible = input.type === "text";

    input.type = isVisible ? "password" : "text";
    icon.className = isVisible ? "bi bi-eye" : "bi bi-eye-slash";
}
</script>

<form class="needs-validation" novalidate method="POST" action="/login.html/">
    <div class="container col-md-5">
        <h1 class="mt-4">{{ _('Log In') }}</h1>

        <div class="form-floating mb-3">
            <input type="email" name="login" id="login" class="form-control" placeholder="{{ _('Set your email...') }}" value="{{ request.form.get('login', '') }}" required>
            <label for="login" class="required">{{ _('Email') }}</label>
        </div>

        <div class="form-floating mb-3 position-relative">
            <input type="password" name="password" id="password" class="form-control" placeholder="{{ _('Set your password...') }}" required>
            <label for="password" class="required">{{ _('Password') }}</label>
            <span class="position-absolute top-50 end-0 translate-middle-y pe-3" onclick="togglePassword()" style="cursor:pointer;">
                <i class="bi bi-eye" id="toggleIcon"></i>
            </span>
        </div>

        <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-primary">{{ _('Log In')}}</button>
        </div>

        <div class="text-center small">
            {% if company.eshop_register_allowed %}
            <a href="/register.html" class="d-block mb-1">{{ _("I don't have an account yet, register")}}</a>
            {% endif %}

            <a href="/password_lost.html">{{ _("I forgot my password")}}</a>
        </div>
    </div>
</form>

{% endblock %}
