
{% extends 'base.html' %}

{% block container %}
<h1>{{ _('Log In') }}</h1>

<form class="form-horizontal" role="form" method="POST" action="{{ url_for('login_view') }}">
    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
                <th>
                    <label for="login" class="control-label">{{ _('Email') }} (*)</label>
                </th>
                <td>
                    <input type="email" name="login" class="form-control input-required" value="{{request.form['login'] or email or ""}}"/>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="password" class="control-label">{{ _('Password') }} (*)</label>
                </th>
                <td>
                    <input type="password" name="password" class="form-control input-required"/>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="td-action" colspan="100%">
                    <button type="submit" class="btn btn-default">{{ _('Log In')}}</button>
                </th>
            </tr>
            <tr>
                <td class="td-action" colspan="100%">
    {% if company.eshop_register_allowed %}
                    <a href="{{ url_for('register') }}">
                        {{ _("I don't have an account yet, register")}}
                    </a>
                    <br />
    {% endif %}
                    <a href="{{ url_for('password_lost') }}">
                        {{ _("I forgot my password")}}
                    </a>
                </th>
            </tr>
        </tfoot>
    </table>

</form>

{% endblock %}
