{% extends 'base.html' %}

{% block container %}
<!-- JQuery -->
<script>
    $('#nav_account').addClass('active');
</script>

<!-- Orders List -->
<h1>{{ _('Your Orders') }}</h1>

{% if orders %}
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>{{ _('Order Date') }}</th>
            <th>{{ _('Number') }}</th>
            <th>{{ _('Place') }}</th>
            <th>{{ _('Day') }}</th>
            <th>{{ _('Date') }}</th>
            <th>{{ _('Time') }}</th>
            <th>{{ _('Untaxed Amount') }}</th>
            <th>{{ _('Total') }}</th>
            <th></th>
        <tr>
    </thead>
    <tbody>
{% for order in orders %}
        <tr>
            <td>{{ order.date_order|to_date }}</td>
            <td>{{ order.name }}</td>
    {% if order.recovery_moment_id != False %}
            <td>{{ order.recovery_moment_id.place_id.name }}</td>
            <td>{{ order.recovery_moment_id.min_recovery_date|to_day }}</td>
            <td>{{ order.recovery_moment_id.min_recovery_date|to_date }}</td>
            <td>{{ order.recovery_moment_id.min_recovery_date|to_time }} - {{ order.recovery_moment_id.max_recovery_date|to_time }}</td>
    {% else %}
            <td>{{ _('Undefined') }}</td>
            <td>{{ _('Undefined') }}</td>
            <td>{{ _('Undefined') }}</td>
            <td>{{ _('Undefined') }}</td>
    {% endif %}
            <td>{{ order.amount_untaxed|to_currency }}</td>
            <td>{{ order.amount_total|to_currency }}</td>
            <td><a href="{{ url_for('order_download', order_id=order.id) }}">{{ _('Download') }}</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>{{_('No Orders for the time being.')}}</p>
{% endif %}
{% endblock %}
