{% extends 'base.html' %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('shopping_cart')}}">{{ _('Shopping Cart') }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('recovery_moment_place')}}">{{ _('Recovery Moment Place') }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ _('Choose payment') }}</li>
    </ol>
</nav>
{% endblock %}

{% block container %}

<div class="container my-2">
    <h1 class="my-4"><strong>{{ _('Amount to pay: ') }}</strong> {{ sale_order.amount_total|to_currency }}</h1>
    
    <p>{{ _('Choose one of this payment methods:') }}</p>
</div>

<!-- PAY ON SITE -->
{% if company.eshop_pay_on_site %}

<div class="container my-3">

    <div class="card p-4 shadow">
        
        <h3 class="my-1"><i class="bi bi-shop"></i> {{ _('Pay on site') }}</h3>

        <p>{{ company.eshop_pay_on_site_text|html_fix_image_url|safe}}</p>

        <button onclick="GoToThePage(this);" class="btn btn-success w-50 mt-4" href="#" page_url="{{ url_for('payment_on_site_validation') }}">
            <i class="bi bi-check-circle"></i> {{ _('Pay on site') }}
        </button>


    </div>
</div>
{% endif %}

<!-- PAY WITH WALLET -->
{% if company.eshop_wallet_enabled %}

<div class="container my-3">

    <div class="card p-4 shadow">
        <h3 class="my-1"><i class="bi bi-wallet2"></i> {{ _('Pay with wallet') }}</h3>
       
        <p><strong>{{ _('Money in your wallet') }}</strong> {{ partner.customer_wallet_balance|to_currency }}</p>

        {% set balance_after_payment = partner.customer_wallet_balance - sale_order.amount_total %}
        <p><strong>{{ _('Balance after payment :') }}</strong>
            {% if balance_after_payment >= 0 %}
                {{ balance_after_payment|to_currency }}
            {% else %}
                <span class="text-danger">{{ balance_after_payment|to_currency }}</span>
            {% endif %}
        </p>

        {% if balance_after_payment >= 0 %}
        <button onclick="GoToThePage(this);" class="btn btn-success w-50 mt-4" href="#" page_url="{{ url_for('payment_validation', sale_order_id=sale_order.id) }}">
            <i class="bi bi-check-circle"></i> {{ _('Confirm payment') }}
        </button>
        {% else %}
        <div class="alert alert-danger mt-4 w-75"> {{ _("You don't have enough money in your wallet to validate this order.") }}</div>
        {% endif %}
    </div>
</div>

{% endif %}

<!-- PAY ONLINE WITH MOLLIE -->
{% if company.eshop_mollie_enabled %}

<div class="container my-3">

    <div class="card p-4 shadow">

        <h3 class="my-1"><i class="bi bi-credit-card-fill"></i> {{ _('Pay online') }}</h3>

        <button onclick="GoToThePage(this);" class="btn btn-success w-50 mt-4" href="#" page_url="{{ url_for('payment_validation_online', sale_order_id=sale_order.id) }}">
            <i class="bi bi-check-circle"></i> {{ _('Go to online payment') }}
        </button>


    </div>
</div>
{% endif %}

{% endblock %}
