{% extends 'base.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">
        <a href="{{ url_for('catalog_tree')}}">{{ _('Catalog') }}</a>
    </li>
    {% for parent_category in parent_categories %}
    <li class="active">
        <a href="{{ url_for('catalog_tree', category_id=parent_category['id'])}}">{{ parent_category['name'] }}</a>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block container %}
<!-- JQuery -->
<script>
    $('#nav_catalog_tree').addClass('active');
</script>


<!-- Products -->
<div class="row">
    <div class="col-md-12">
        <h1>{{ product.name }}</h1>
    </div>
</div>

{% set uom = get_object('product.uom', product.uom_id.id) %} 
{% set country = get_object('res.country', product.country_id.id)%}
{% set department = get_object('res.country.department', product.department_id.id)%}

<div class="row">
    <div class="col-md-4">
        <center>
            <div>
    {% if product.image_small %}
                <img src="data:image/png;base64,{{ product.image }}" 
                    style="max-width:250px;"
                    class="img-thumbnail"/>
    {% else %}
                <img src="{{ url_for('static', filename='images/product_without_image.png') }}"
                    style="max-width:250px;"
                    class="img-thumbnail"/> 
    {% endif %}
            </div>
            <br />
            <div>
    {% if product.label_ids|length %}
                <center>
        {% for label_id in product.label_ids|to_ids %}
            {% set label = get_object('product.label', label_id) %} 
                    <img src="data:image/png;base64,{{ label.image }}" 
                        class="img-thumbnail"
                        alt="{{ label.name }}" style="max-width:80px;"/>
        {% endfor %}
            </center>
    {% endif %}
            </div>
        </center>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">

            <dt>{{ _('Price') }}</dt>
            <dd>{{ product.list_price|to_currency }} / {{ uom.eshop_description }}</dd>
            <dt>{{ _('Minimum Quantity') }}</dt>
            <dd>{{ product.eshop_minimum_qty}} {{ uom.eshop_description }}</dd>
            <dt>{{ _('Rounding Quantity') }}</dt>
            <dd>{{ product.eshop_rounded_qty}} {{ uom.eshop_description }}</dd>
            <br />
    {% if country != False %}
            <dt>{{ _('Country') }}</dt>
            <dd>{{ country.name }}</dd>
    {% endif %}
    {% if department != False %}
            <dt>{{ _('Department') }}</dt>
            <dd>{{ department.name }}</dd>
    {% endif %}
    {% if product.origin_description != False %}
            <dt>{{ _('Origin Description') }}</dt>
            <dd>{{ product.origin_description }}</dd>
    {% endif %}
    {% if product.maker_description != False %}
            <dt>{{ _('Maker Description') }}</dt>
            <dd>{{ product.maker_description }}</dd>
    {% endif %}
    {% if product.fresh_category != False %}
            <dt>{{ _('Fresh Category') }}</dt>
            <dd>{{ product.fresh_category|fresh_category }}</dd>
    {% endif %}
            <br />
    {% if product.description != False %}
            <dt>{{ _('Description') }}</dt>
            <dd>{{ product.description }}</dd>
    {% endif %}
        </dl>
    </div>
    <div class="col-md-4">
        <form class="form-horizontal" role="form" method="POST" action="{{ url_for('product_add_qty', product_id=product.id) }}">
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ _('Quantity') }}</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="quantity" placeholder="({{ uom.eshop_description }})"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit" class="btn btn-default">{{ _('Add to Shopping Cart') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
