{% extends 'base_popup.html' %}

{% block container_popup %}
<!-- Products -->
{% set product = get_object('product.product', product_id) %} 
{% set uom = get_object('product.uom', product.uom_id) %} 
{% set country = get_object('res.country', product.country_id)%}
{% set department = get_object('res.country.department', product.department_id)%}

<div class="row">
    <div class="col-md-12">
        <h1>{{ product.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <div>
                <a href="#" data-featherlight="{{ url_for('product_image_popup', product_id=product['id']) }}">
                    <img src="{{ url_for('get_image', model='product.product', id=product.id, field='image', sha1=product.sha1) }}"
                        style="width:250px;"
                        class="img-thumbnail"/> 
                </a>
            </div>
            <br />
            <div>
    {% if product.label_ids|length %}
                <center>
        {% for label_id in product.label_ids %}
            {% set label = get_object('product.label', label_id) %}
                <img src="{{ url_for('get_image', model='product.label', id=label.id, field='image', sha1=label.sha1) }}"
                    class="img-thumbnail"
                    alt="{{ label.name }}" style="width:80px;"/> 
        {% endfor %}
            </center>
    {% endif %}
            </div>
        </center>
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">

            <dt>{{ _('Price') }}</dt>
            <dd>{{ product.list_price|to_currency }} / {{ uom.eshop_description }}</dd>
            <dt>{{ _('Minimum Quantity') }}</dt>
            <dd>{{ product.eshop_minimum_qty}} {{ uom.eshop_description }}</dd>
            <dt>{{ _('Rounding Quantity') }}</dt>
            <dd>{{ product.eshop_rounded_qty}} {{ uom.eshop_description }}</dd>
            <br />
    {% if country != False %}
            <dt>{{ _('Country') }}</dt>
            <dd>{{ country.name }}</dd>
    {% endif %}
    {% if department != False %}
            <dt>{{ _('Department') }}</dt>
            <dd>{{ department.name }}</dd>
    {% endif %}
    {% if product.origin_description != False %}
            <dt>{{ _('Origin Description') }}</dt>
            <dd>{{ product.origin_description }}</dd>
    {% endif %}
    {% if product.maker_description != False %}
            <dt>{{ _('Maker Description') }}</dt>
            <dd>{{ product.maker_description }}</dd>
    {% endif %}
    {% if product.fresh_category != False %}
            <dt>{{ _('Fresh Category') }}</dt>
            <dd>{{ product.fresh_category|fresh_category }}</dd>
    {% endif %}
            <br />
    {% if product.description != False %}
            <dt>{{ _('Description') }}</dt>
            <dd>{{ product.description }}</dd>
    {% endif %}
        </dl>
    </div>
</div>

{% endblock %}
