{% extends 'base_popup.html' %}

{% block container_popup %}
<!-- Products -->
{% set product = get_object('product.product', product_id) %}
{% set uom = get_object('uom.uom', product.uom_id) %}
{% set country = get_object('res.country', product.country_id)%}
{% set department = get_object('res.country.department', product.department_id)%}
{% set company = current_company() %}

<div class="row">
    <div class="col-md-12">
        <h1>{{ product.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <div>
                <a href="#" data-featherlight="{{ url_for('product_image_popup', product_id=product['id']) }}">
                    <img src="{{ url_for('static', filename=product.image_local_path) }}"
                        style="width:250px;"
                        class="img-thumbnail"/>
                </a>
            </div>
            <br />
            <div>
    {% if product.label_ids|length %}
                <center>
        {% for label_id in product.label_ids %}
            {% set label = get_object('product.label', label_id) %}
                <img src="{{ url_for('static', filename=label.image_local_path) }}"
                    class="img-thumbnail"
                    alt="{{ label.name }}" style="width:80px;"/>
        {% endfor %}
            </center>
    {% endif %}
            </div>
        </center>
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">

            <dt>{{ _('Price') }}</dt>
        {% if company.eshop_vat_included %}
            <dd>{{ product.list_price|to_currency }} {{_('VAT. Incl.')}} / {{ uom.eshop_description }}</dd>
        {% else %}
            <dd>{{ product.list_price_vat_excl|to_currency }} {{_('VAT. Excl.')}} / {{ uom.eshop_description }}</dd>
        {% endif %}
            <dt>{{ _('Minimum Quantity') }}</dt>
            <dd>{{ product.eshop_minimum_qty}} {{ uom.eshop_description }}</dd>
            <dt>{{ _('Rounding Quantity') }}</dt>
            <dd>{{ product.eshop_rounded_qty}} {{ uom.eshop_description }}</dd>
            <br />
    {% if country != False %}
            <dt>{{ _('Country') }}</dt>
            <dd>{{ country.name }}</dd>
    {% endif %}
    {% if department != False %}
            <dt>{{ _('Department') }}</dt>
            <dd>{{ department.name }}</dd>
    {% endif %}
    {% if product.origin_description != False %}
            <dt>{{ _('Origin Description') }}</dt>
            <dd>{{ product.origin_description }}</dd>
    {% endif %}
    {% if product.maker_description != False %}
            <dt>{{ _('Maker Description') }}</dt>
            <dd>{{ product.maker_description }}</dd>
    {% endif %}
            <br />
    {% if product.eshop_description != False %}
            <dt>{{ _('Description') }}</dt>
            <dd>{{ product.eshop_description|safe }}</dd>
    {% endif %}
        </dl>
    </div>
</div>

{% endblock %}
