{% extends 'base.html' %}

{% block container %}

<div class="container confirmation-container d-flex">
    <div class="confirmation-box text-center p-4 rounded shadow-lg">
        <div class="mb-4">
            <i class="bi bi-check-circle-fill text-success icon-check"></i>
        </div>

            <h2 class="mb-3">{{ _('Order and payment validated') }}</h2>
            <p class="text-muted mb-4">
                {{ _("Thank you for your order!") }}
            </p>
            <p class="text-muted mb-4">
                {{ _("All that's left to do is pick up your order at your chosen collection point :") }}
                <b>{{ recovery_name }}</b>
            </p>
            <p class="text-muted mb-4">
                {{ _("You should have receive an email with all the details.") }}
            </p>
        {% if not company.eshop_wallet_enabled %}
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-currency-exchange me-2"></i>{{ _("Don't forget your money to pay your order.") }}
            </div>
        {% endif %}
        <div class="d-grid gap-2">
            <a href="{{ url_for('home_logged') }}" class="btn btn-success">
                <i class="bi bi-house-door-fill me-2"></i> {{ _('Return to Home') }}
            </a>
            <a href="{{ url_for('orders') }}" class="btn btn-outline-secondary">
                <i class="bi bi-bag-check-fill me-2"></i> {{ _('View My Orders') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}
