{% extends 'base.html' %}

<!-- BreadCrumb                                                             -->
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">{{ _('Shopping Cart') }}</li>
</ol>
{% endblock %}

{% block container %}

<!-- Body                                                                   -->

{% set company = get_company %} 

<h1>{{ _('Your Shopping Cart ') }}</h1>
<div class="row">
    <div class="col-md-6">
        <a data-href="{{ url_for('shopping_cart_delete') }}"
            data-toggle="modal"
            data-target="#confirm-delete"
            class="col-sm-offset-3 btn btn-default" href="#" role="button">
            <span class="glyphicon glyphicon-trash"/>
            {{ _('Delete Shopping Cart') }}</a>
    </div>
    <div class="col-md-6">
        {% if company.manage_recovery_moment %}
        <a href="{{ url_for('recovery_moment_place') }}"
            class="col-sm-offset-3 btn btn-default" href="#" role="button">
            <span class="glyphicon glyphicon-calendar"/>
            {{ _('Select Place and Moment for Recovery') }}</a>
        {% endif %}
        {% if company.manage_delivery_moment %}
        <a href="{{ url_for('delivery_moment') }}"
            class="col-sm-offset-3 btn btn-default" href="#" role="button">
            <span class="glyphicon glyphicon-calendar"/>
            {{ _('Select Delivery Moment') }}</a>
        {% endif %}
    </div>
</div>
<br />
<table class="table table-condensed table-bordered">
    <thead>
        <tr>
            <th>{{ _('Product') }}</th>
            {% if company.manage_delivery_moment %}
                    <th title="{{ _('Delivery Category') }}">
                        {{ _('Categ.') }}
                    </th>
            {% endif %}

            {% if company.eshop_vat_included %}
            <th>{{ _('U.P. VAT Incl.') }}</th>
            {% else %}
            <th>{{ _('U.P. VAT Excl.') }}</th>
            {% endif %}
            <th>{{ _('VAT') }}</th>
            <th>{{ _('Quantity') }}</th>
            <th>{{ _('Unit') }}</th>
            {% if company.eshop_vat_included %}
            <th>{{ _('Subtotal VAT Incl.') }}</th>
            {% else %}
            <th>{{ _('Subtotal VAT Excl.') }}</th>
            {% endif %}
            <td />
        <tr>
    </thead>
    <tbody>
{% for line in sale_order.order_line %}
    {% set product = get_object('product.product', line.product_id.id) %}
    {% set uom = get_object('product.uom', line.product_uom.id) %}
    {% set delivery_categ = get_object('product.delivery.category', line.product_id.delivery_categ_id.id) %} 
        <tr>
            <td>
                <a href="{{url_for('product', product_id=product.id)}}">{{ product.name }}</a>
            </td>
    {% if company.manage_delivery_moment %}
            <td>
        {% if delivery_categ %}

                <img class="img-small-delivery-categ"
                src="{{ url_for('get_image', model='product.delivery.category', id=delivery_categ.id, field='image', sha1=delivery_categ.sha1) }}"
                title="{{ delivery_categ.name }}"/>
        {% endif %}
            </td>
    {% endif %}
            <td>{{ line.price_unit|to_currency }}</td>
            <td>{{ product.eshop_taxes_description }}</td>
            <td class="td-input-text">
                <form class="form-inline" role="form" method="POST" action="{{ url_for('shopping_cart_quantity_update') }}">
                    <div class="form-group">
                        <input type="hidden" name="line_id" value="{{ line.id }}" />
                        <input type="text" class="form-control input-quantity" id="quantity_{{line.id}}" name="new_quantity"
                            value="{{ line.product_uom_qty }}">
                    </div>
                    <button type="submit" class="btn btn-default hide_if_jquery_enabled">{{ _('Update')}}</button>
                </form>
            </td>
            <td>{{ uom.eshop_description }}</td>
            {% if company.eshop_vat_included %}
            <td class="td-input-text">
                <input type="text" class="form-control input-amount" id="price_subtotal_{{line.id}}" 
                        placeholder="{{ line.price_subtotal_taxinc|to_currency }}" readonly/>
            </td>
            {% else %}
            <td class="td-input-text">
                <input type="text" class="form-control input-amount" id="price_subtotal_{{line.id}}" 
                        placeholder="{{ line.price_subtotal|to_currency }}" readonly/>
            </td>
            {% endif %}
            <td class="td-input-text">
                <a href="{{ url_for('shopping_cart_delete_line', line_id=line.id) }}"
                    class="btn btn-default btn-sm" role="button">
                        <span class="glyphicon glyphicon-remove"/> {{ _('Remove') }}</a>
                </a>
            </td>
        </tr>
{% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="100%">&nbsp;</th>
        </tr>

        <tr>
            {% if company.manage_delivery_moment %}
            <td colspan="5" rowspan="3">
            {% else %}
            <form class="form-inline" role="form" method="POST" action="{{ url_for('shopping_cart_note_update') }}">
                <td colspan="4" rowspan="3">
            {% endif %}

                    <textarea class="form-control" rows="3" id="shopping_cart_note" name="shopping_cart_note" placeholder="{{_('Extra Comments')}}">{{ sale_order.note|empty_if_null }}</textarea>
                    <button type="submit" class="btn btn-default hide_if_jquery_enabled">{{ _('Update')}}</button>
                </td>
            </form>
            <th>{{ _('Untaxed Amount') }}</th>
            <td class="td-input-text">
                <input type="text" class="form-control input-amount" id="amount_untaxed"
                        placeholder="{{ sale_order.amount_untaxed|to_currency }}" readonly/></td>
            <td />
        </tr>
        <tr>
            <th>{{ _('Taxes') }}</th>
            <td class="td-input-text">
                <input type="text" class="form-control input-amount" id="amount_tax" 
                        placeholder="{{ sale_order.amount_tax|to_currency }}" readonly/></td>
            <td />
        </tr>
        <tr>
            <th>{{ _('Total') }}</th>
            <td class="td-input-text">
                <input type="text" class="form-control input-amount" id="amount_total"
                        placeholder="{{ sale_order.amount_total|to_currency }}" readonly/></td>
            <td />
        </tr>
    </tfoot>
</table>


<!-- Delete Shopping Cart PopUp                                             -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{ _('Confirm Delete') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ _('You are about to delete your Shopping Cart, this procedure is irreversible.') }}</p>
                <p>{{ _('Do you want to proceed?') }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                <a href="#" class="btn btn-danger danger">{{ _('Delete') }}</a>
            </div>
        </div>
    </div>
</div>

<!-- JQuery                                                                 -->
<script>
    $('#nav_shopping_cart').addClass('active');
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
    });
</script>

<script src="{{ url_for('static', filename='js/hide_if_jquery_enabled.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopping_cart_quantity_update.js') }}"></script>
<script src="{{ url_for('static', filename='js/shopping_cart_note_update.js') }}"></script>

{% endblock %}
