[flask]
url = http://127.0.0.1:8080
host = 127.0.0.1
port = 8080
debug = True
secret_key = replace_me

[odoo]
url = http://127.0.0.1:8012
database = odoo_test_eshop
company_id = 1

[auth]
user_login = eshop_user
user_password = demo
session_minute = 120

[localization]
locale = fr

[captcha]
font_path = ./static/ttf/Ubuntu-B.ttf,./static/ttf/Ubuntu-L.ttf

[cache]
cache_type = redis
cache_default_timeout = 86400
cache_key_prefix = odoo_test_eshop
invalidation_key = INVALIDATION_KEY
