body{
/*    background-color:yellow;*/
}

/* Generic Style (Table, body, ...)*/
th{
    background-color:#F6F6F6;
    text-align:center;
}
h2{
    margin:0px;
}

.td-input-text{
    padding:0px !important;
}

.td-action{
    text-align:center;
}
/* Header Style */
.navigation-button{
    height:32px;
    max-height:24px;
}

.a-link-header{
    padding: 0px;
}
.img-icon-header{
    max-height: 32px;
}

.div-home-link{
    margin-right:20px;
}

/* Main Part Style*/
.div-main-part{
    margin-top:70px;
}

/* Catalog Style */
.input-quantity{
    width:150px !important;
    text-align:right;
}
.input-amount{
    width:120px !important;
    text-align:right;
}

.img-small-label, .img-small-delivery-categ{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 23px;
    display: inline;
}

.img-medium-eshop-categ{
    height:50px;width:50px;
    display:inline;
}

