/* -------------------------------------------------------------------------- */

body{
    padding-top: 75px;
}

/* -------------------------------------------------------------------------- */
/* Header Style                                                               */
/* -------------------------------------------------------------------------- */
.eshop_navbar_default{
    background-color:#FFF;
    border-color:#FFF;
}

.eshop_head_container{
    width:100%;
    border-bottom: 1px solid;
    border-color:#CCC;
}

.eshop_flash_container{
    padding-top:5px;
    width:100%;
}

.eshop_a_link_header{
    padding-top: 10px !important;
    height:50px;
}

.eshop_a_link_header:hover{
    background-color:#E7E7E7 !important;
}

.img-icon-header{
    max-height: 24px;
}

/* -------------------------------------------------------------------------- */
/* Generic Style (Table, body, ...)                                           */
/* -------------------------------------------------------------------------- */
th{
    background-color:#F6F6F6;
    text-align:center;
}

h2{
    margin:0px;
}

.td-input-text{
    padding:0px !important;
}

.td-action{
    text-align:center;
}

.div-home-link{
    margin-right:20px;
}

/* -------------------------------------------------------------------------- */
/* Catalog Style                                                              */
/* -------------------------------------------------------------------------- */
.input-quantity{
    width:150px !important;
    text-align:right;
}

.input-amount{
    width:120px !important;
    text-align:right;
}

.img-small-label{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 23px;
    display: inline;
}

.img-medium-eshop-categ{
    height:50px;width:50px;
    display:inline;
}

.input-not-null-qty{
    background-color:#DDFFFF;
    font-weight:bold;
}
.input-surcharge{
    background-color:#EEE8AA;
    font-weight:bold;
}

/* -------------------------------------------------------------------------- */
/* Ellipsis Effect (for catalog Tree view)                                    */
/* -------------------------------------------------------------------------- */

p { margin: 0; padding: 0; font-family: sans-serif;}

.ellipsis {
    text-align:center;
    overflow: hidden;
    height: 44px;
}

.ellipsis:before {
    content:"";
    float: left;
    width: 5px; height: 44px;
}

.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.product-price{
    text-align:center;
    height:22px;
}
.product-price > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.ellipsis:after {
    content: "\02026";

    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

    float: right; position: relative;
    top: -25px; left: 100%; 
    width: 3em; margin-left: -3em;
    padding-right: 5px;

    text-align: right;

    background: -webkit-gradient(linear, left top, right top,
        from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

