/* -------------------------------------------------------------------------- */

body{
    padding-top: 70px;
/*    background-color:yellow;*/
}

/* -------------------------------------------------------------------------- */
/* Header Style                                                               */
/* -------------------------------------------------------------------------- */
.eshop_navbar_default{
    background-color:#FFF;
}

.eshop_head_container{
    width:100%;

}

.eshop_a_link_header{
    padding-top: 10px !important;
    height:50px;
}

.eshop_a_link_header:hover{
    background-color:#E7E7E7 !important;
}

.eshop_img_icon_header{
    max-height: 24px;
}

/* -------------------------------------------------------------------------- */
/* Generic Style (Table, body, ...)                                           */
/* -------------------------------------------------------------------------- */
th{
    background-color:#F6F6F6;
    text-align:center;
}
h2{
    margin:0px;
}

.td-input-text{
    padding:0px !important;
}

.td-action{
    text-align:center;
}


.div-home-link{
    margin-right:20px;
}


/* Catalog Style */
.input-quantity{
    width:150px !important;
    text-align:right;
}
.input-amount{
    width:120px !important;
    text-align:right;
}

.img-small-label, .img-small-delivery-categ{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 23px;
    display: inline;
}

.img-medium-eshop-categ{
    height:50px;width:50px;
    display:inline;
}

